@font-face {
  font-family: 'Coustard';
  src: local('Coustard'),
    url(~assets/Coustard/Coustard-Regular.ttf) format('truetype');
}

html {
  font-family: 'Coustard';
}

.black {
  background-color: #111827 !important;
  color: white;
}

.white {
  background-color: #fffbeb !important;
  color: black;
}

.purple {
  background-color: #7c3aed !important;
  color: white;
}

.green {
  background-color: #059669 !important;
  color: white;
}
.red {
  background-color: #dc2626 !important;
  color: white;
}
.yellow {
  background-color: #fcd34d !important;
  color: black;
}

.orange {
  background-color: #f59e0b !important;
  color: black;
}

.blue {
  background-color: #1d4ed8 !important;
  color: white;
}

/* media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}*/
